body {
    font-family: 'Special Elite', cursive;
    background-color: powderblue;
}

.copy_right_footer {
    position: fixed;
    color: rgb(255, 0, 0);
    bottom: 0;
    width: 100%;
    text-align: center;
    width: 100%;
    font-size: 18px;
    background-color: teal;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px white;
}

.header_div {
    background: teal;
    color: thistle;
}

.header_div p {
    font-family: 'Roboto', sans-serif;
    color: yellowgreen;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button {
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}